.title {
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-shadow: 1px 1px 1px #000000;
}

@font-face {
    font-family: GalanoClassic;
    src: url(GalanoClassic-Regular.woff2);
}

* {
    font-family: GalanoClassic, sans-serif;
}

.container {
    background-color: #e7d2d8;
    box-shadow: 0 0 5px #e7d2d8;
    max-width: 1200px;
}

.navbar {
    max-width: inherit;
    background-color: #e38093;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 5px #e38093;
}

.modal-body {
    background-color: #e7d2d8;
    text-align: left;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 3px #000000;
    border: none;
}

.modal-title {
    background-color: #E38093FF;
    font-size: 2rem;
    font-weight: bold;
}

.modal-header {
    background-color: #E38093FF;
    box-shadow: 1px 1px 3px #000000;
    border: none;
    border-bottom: #e38093;
}

.close {
    background-color: #e7d2d8;
    border-radius: 4px;
    border-width: 2px;
    box-shadow: 0 0 4px #000000;
    width: 30px;
}

body {
    background-color: #e7dee1;
    margin-top: 3.9rem;
}

.navbar-brand {
    font-size: 1.6rem;
    text-shadow: 1px 1px 1px #000000;
}

.nav-link {
    font-size: 1.1rem;
    height: 40px;
    border-width: 0;
    color: black;
    font-weight: normal;
}

.navbar-nav {
    height: 100%;
    border-width: 0;
}

#carouselText {
    width: 160px;
    padding: 10px;
    z-index: 19;
    border-radius: 0 0 10px 0;
    background-color: rgba(255, 255, 255, 0.3);
    text-shadow: 1px 1px 1px #000000;
}

.heading {
    font-size: 2.3rem;
    width: fit-content;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000000;
}

#web {
    padding-top: 100px;
}

#media {
    padding-top: 100px;
    padding-bottom: 200px;
}

.carouselText {
    text-shadow: 1px 1px 1px #000000;
}

footer {
    background-color: #e38093;
    box-shadow: 0 0 5px #e38093;
    height: 60px;
    z-index: 1000;
    bottom: 0;
}

.card {
    box-shadow: 1px 1px 3px #000000;
    border: none;
}

.modal-link {
    padding: 10px;
    font-size: 1.5rem;
}
.modal-link:hover {
    text-shadow: 0 0 1px #3030fc;
}
html {
    margin-left: 10%;
    margin-right: 10%;
}