@font-face {
    font-family: GalanoClassic;
    src: url(GalanoClassic-Regular.woff2);
}

* {
    font-family: GalanoClassic, sans-serif;
}

body {
    padding-top: 60px;
    background-color: #e5e0e2;
}

.container {
    background-color: #e7d2d8;
    box-shadow: 0 0 5px #e7d2d8;
    max-width: 1150px;
    width: 100%;
}

.navbar {
    z-index: 10;
    position: fixed;
    max-width: 1150px;
    width: 100%;
    min-height: 60px;
    background-color: #e38093;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 1px 1px 1px #e38093;
}

.navbar-collapse {
    padding-left: 80px;
}

.nav-item {
    justify-content: center;
    align-items: center;
    height: 40px;
}

.navbar-brand {
    font-size: 1.6rem;
    text-shadow: 1px 1px 1px #000000;
}

.nav-link {
    font-size: 1.1rem;
    height: 40px;
    border-width: 0;
    color: black;
    font-weight: normal;
}

.navbar-nav {
    height: 100%;
    border-width: 0;
}

.carousel-text {
    text-shadow: 1px 1px 1px #000000;
    font-size: 1.7rem;
}

.heading {
    font-size: 2.3rem;
    width: fit-content;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000000;
}

#web-section {
    padding-top: 100px;
}

#media-section {
    padding-top: 100px;
    padding-bottom: 200px;
}

.card {
    box-shadow: 1px 1px 3px #000000;
    border: none;
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-shadow: 1px 1px 1px #000000;
}

.modal-body {
    background-color: #e7d2d8;
    text-align: left;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 1px #e7d2d8;
    border: none;
}

.modal-title {
    padding-left: 10px;
    background-color: #E38093FF;
    font-size: 1.8rem;
    text-shadow: 1px 1px 1px #000000;
}

.modal-header {
    background-color: #E38093FF;
    box-shadow: 1px 1px 3px #E38093FF;
    border: none;
    border-bottom: #e38093;
}

.close {
    background-color: #e7d2d8;
    border-radius: 4px;
    border-width: 1px;
    box-shadow: 1px 1px 1px #000000;
    width: 30px;
}

.modal-link {
    padding: 10px;
    font-size: 1.4rem;
}
.modal-link a {
    text-decoration: none;
}

.modal-link:hover {
    text-shadow: 0 0 1px #3030fc;
    text-decoration: underline;
}

footer {
    background-color: #e38093;
    box-shadow: 0 0 5px #e38093;
    height: 60px;
    z-index: 1000;
    bottom: 0;
}

.footer-link {
    font-size: 1.1rem;
    height: 60px;
}

.footer-link a {
    color: black;
    font-size: 1.2rem;
}

.footer-link:hover {
    text-shadow: 0 0 1px #000000;
    text-decoration: underline;
}

@media (max-width: 991px) {
    .navbar-collapse {
        padding-left: 10px;
        padding-bottom: 10px;
    }

    body {
        padding-top: 209px;
    }

    .nav-item {
        justify-content: left;
    }
}